
body {
  background-image: url("../img/pic3.jpg"); 
  background-size:cover;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  text-align: center;
}

.header{
  padding: 5px;
  margin-top: 10px;
  font-family:cursive ;
  text-align: center;
  color: #DDDDDD;
  margin:auto;
  text-decoration: underline;
}

.lives-container{
  margin:auto;
  margin-bottom:none;
  width:fit-content;
  padding: 1px;
  height: fit-content;
}

.lives-header{
  font-family:ui-monospace ;
  font-weight: bold;
  font-size: 20px;
  color: #DDDDDD;

}

.timer-container{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  font-weight: bold;
  color: #DDDDDD;
  margin:auto;
  width:fit-content;
  margin-bottom: 10px;
  /* display: inline-block; */
  /* border: 5px solid black; */
}
  
.board-container {
  display: block;
  margin: auto;
  text-align: center;
  /* display: flex;
  justify-content: center;
  margin: 80px 10px; */
}

.board{
  display: inline-block;
  background-color: lightgray;
  min-width: Xpx;
}

table{
    border:solid grey; 
    min-width: Xpx;
    border-collapse: separate;
    display:block;
}

td {
    height: 22px;
    width: 22px;
    background-color: #C0C0C0;
    border: 1.5px solid;
    border-top-color: #ffffff;
    border-right-color: #7B7B7B;
    border-bottom-color: #7B7B7B;
    border-left-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor:pointer
    /* text-indent: -9999px; not show the innertext */
    /* table-layout:fixed; */
    /* min-width: Xpx from collapsing */
}
     
 button{
   padding: 10px;
   border-radius: 8px;
   margin-top: 13px;
   font-weight: bold;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .show {
    height: 25px;
    width: 25px;
    font-family: "Press Start";
    background-color: darkgrey;
    text-align: center;
    border:1.5px none;
    /* font-size: 100%; */
    /* border: none; */
    /* background-color: #C0C0C0; */
    /* text-indent:initial; show inner */
  }

  .smiley{
    font-size:34px;
    padding:1px;
    margin-bottom: 8px;
    padding-bottom: 3px;
  } 

  .safe{
    font-size:34px;
    padding:1px;
    margin-bottom: 8px;
    padding-bottom: 3px;
  }
 
  .safe-blink {
    background-color: yellow;
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .clicks-left{
    font-family:monospace ;
    font-size: 16px;
    color: #DDDDDD;
    margin:auto;
    margin-top:15px;
    width:fit-content;
    padding: 8px;
    font-weight: bold;
  }

  .one {
    color: blue;
    font-weight: bold;
  }
  
  .two {
    color: green;
    font-weight: bold;
  }
  
  .three {
    color:red;
    font-weight: bold;
  }
  
  .four{
    color: darkslateblue;
    font-weight: bold;
  }

  .five {
    color: brown;
    font-weight: bold;
  }

  .six{
    color: coral;
    font-weight: bold;
  }

  .seven{
    color:darkgoldenrod;
    font-weight: bold;
  }

  .eight{
    color:blueviolet ;
    font-weight: bold;
  }

  .mine{
    background-color: red;
  }
